@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);

  --leading-120: 1.2;
  --animate-gradient-pan-x: gradient-pan-x 3s ease-in-out infinite;
  --animate-nod-right: nod-right 1000ms ease-in-out infinite;

  /* ========== 背景色區塊 ========== */
  --color-primary: #0d0f1a; /* 主背景色 */
  --color-navbar: #0f1226; /* 導航欄背景色 */
  --color-hero: #141a2e; /* 英雄區塊背景色 */
  --color-portfolio: #1a1433; /* 作品集區塊背景色 */
  --color-services: #140f29; /* 服務區塊背景色 */
  --color-skills: #142440; /* 技能區塊背景色 */
  --color-contact: #140f29; /* 聯絡區塊背景色 */
  --color-footer: #0d0d1f; /* 頁腳背景色 */
  --color-contact-form: #171a26; /* 聯絡表單背景色 */
  --color-input: #1f1738; /* 輸入框背景色 */

  /* ========== 元件色彩區塊 ========== */
  --color-button-primary: #402680; /* 主要按鈕顏色 */
  --color-card: #241f47; /* 卡片背景色 */

  /* ========== 文字顏色區塊 ========== */
  --color-text-primary: #ffffff; /* 主要文字色 */
  --color-text-secondary: #cccccc; /* 次要文字色 */
  --color-text-footer: #b3b3b3; /* 頁腳文字色 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0f1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .typography {
    h3 {
      font-size: var(--text-2xl);
      line-height: var(--leading-tight);
      font-weight: var(--font-weight-semibold);
    }
    h4 {
      font-size: var(--text-xl);
      line-height: var(--leading-120);
      font-weight: var(--font-weight-semibold);
    }
  }
}

@utility container {
  @apply mx-auto max-w-[1440px] xl:px-32;
}

@utility heading-gradient {
  @apply bg-gradient-to-r from-[#00bfff] via-[#4169e1] to-[#8a2be2] bg-clip-text text-transparent;
}

@utility heading-gradient-flow {
  @apply animate-gradient-pan-x bg-gradient-to-r from-blue-300 via-blue-500 to-blue-300 bg-[length:200%_200%] bg-clip-text bg-left text-white/0;
}

@utility button {
  @apply bg-button-primary mt-8 cursor-pointer rounded-sm uppercase transition duration-300 hover:bg-[#6f3fff] hover:shadow-[0_0_4px_#6f3fff,0_0_8px_#6f3fff,0_0_12px_#6f3fff,0_0_24px_rgba(111,63,255,0.6)];
}

@keyframes gradient-pan-x {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes nod-right {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0);
  }
}
